@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Shared.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(Shared.MainLayout)">
            <div class="not-found">
                <h1>Oops! Page Not Found</h1>
                <p>We couldn't find the page you're looking for.</p>
                <a href="/" class="button button-primary">Go Home</a>
            </div>
        </LayoutView>
    </NotFound>
</Router>